*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}
.done {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 5px;
    background: #eee;
    border-radius: 5px;
}
